name: Docker Image CI

on:
  push:
    branches: [ "main" ]
jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-java@v5
      with:
       distribution: 'temurin' # See 'Supported distributions' for available options
       java-version: '21'
    - name: Build and test
      run: mvn clean test -DskipTests
      env:
        EC2_SSH_PRIVATE_KEY: ${{ secrets.EC2_SSH_PRIVATE_KEY }}
        EC2_URL: ${{ secrets.EC2_URL }}
        EC2_USERNAME: ${{ secrets.EC2_USERNAME }}
    - name: Setup SSH for EC2
      uses: omarhosny206/setup-ssh-for-ec2@v1.0.0
      with:
        EC2_SSH_PRIVATE_KEY: ${{ secrets.EC2_SSH_PRIVATE_KEY }}
        EC2_URL: ${{ secrets.EC2_URL }}
    # then you can run commands/scripts directly on the EC2 instance e.g.:
    - name: Create a new file on the EC2 instance with "hello-world"
      run: ssh -o StrictHostKeyChecking=no ${{ secrets.EC2_USERNAME }}@${{ secrets.EC2_URL }} "echo "hello-world" >> new_file.txt"
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag airesumeimage:$(date +%s)
